.env
**/.ipynb_checkpoints/
**/*.zip
jupyterprojects/Course_Tensorflow_for_Deep_Learning_Bootcamp/notes/pizza_steak/
jupyterprojects/Course_Tensorflow_for_Deep_Learning_Bootcamp/cats-and-dogs/
**/__pycache__
